In [6]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print("the type of x is" ,type(x))
print("the type of y is",type(y))
print("the type of z is",type(z))

the type of x is <class 'int'>
the type of y is <class 'float'>
the type of z is <class 'complex'>

In [8]:
# Convert flot into int 

X=1.4
x=int(x )
print(type(x))
print("the value of x is",x)

<class 'int'>
the value of x is 1

In [16]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x1=float(x)

#convert from float to int:
y1=int(y)

#convert from int to complex:
z1=z.real

In [18]:
x1

5.0

In [19]:
y1

3

In [20]:
z1

0.0

In [24]:
# Print 15 random numbers

import  numpy
import pandas
import random

print(random.randrange(1, 15) )

7

In [26]:
print ("Random number from 50-100 skip 5 is : ",end="")
print (random.randrange(50,100,5))

Random number from 50-100 skip 5 is : 95

In [28]:
 random.randint(0, 10)

4

In [32]:
random.uniform(2.6, 7.8)

7.584581059973731

In [46]:
# Convert int ,float to string 

x = ord("t")

In [47]:
x

116

In [48]:
y = float(4)    
z = int(6.0)

In [49]:
y

4.0

In [50]:
z

6

In [51]:
# Assign a string to variable 

a="Assingning  string to  a variable "
print(a)

Assingning  string to  a variable

In [55]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."

print(a+b+c+d)

Hello raj?Hi Manish.How are you.I am fine.

In [60]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3:10])

lo, Wor

In [62]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like you culture."

print("like" in Sentence)

True

In [63]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[0:7])

I Love

In [68]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [71]:
# remove the error
Sent = "We will vist America after two days."
print(Sent)

We will vist America after two days.

In [75]:
# Print the sentence after comma in next line 
Sent=" Hii Mona ,\n When will we go for holidays ?  "
print(Sent)

 Hii Mona ,
 When will we go for holidays ?

In [121]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']

After_removing_dup_list=list(dict.fromkeys(List))
print(After_removing_dup_list)

['Ram', 'Sam', 'Nick']

In [80]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[-1])

mango

In [81]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[0]='Micky'

In [82]:
List

['Micky', 'Sam', 'Nick', 'Sam']

In [84]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']

List[2]='Micky'

List

['Ram', 'Sam', 'Micky', 'Sam']

In [90]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)

In [91]:
y

['apple', 'banana', 'cherry']

In [92]:
y.append("kiwi")

y

['apple', 'banana', 'cherry', 'kiwi']

In [93]:

x = tuple(y)

print(x)

('apple', 'banana', 'cherry', 'kiwi')

In [96]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}
Fruits.add("iteam added KIWI")

In [97]:
Fruits

{'apple', 'banana', 'cherry', 'iteam added KIWI'}

In [100]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}

Fruit1.union(Fruit2)

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [106]:
# Remove the any item from the set
set={"Krishh","Prince","KUmar"}

In [108]:
set.remove('Krishh')

In [109]:
set

{'KUmar', 'Prince'}

In [113]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

Bike["Milage"] = "50"

print(x) #after the change

Bike.items()

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'Milage'])

dict_items([('brand', 'Bajaj'), ('model', 'TVS'), ('year', 2013), ('Milage', '50')])

In [115]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

Car['year']=2008


Car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2008}

In [120]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.keys()

x=car.keys()
print("the keys are",x)

the keys are dict_keys(['brand', 'model', 'year'])