In [ ]:
User_response = input('Please enter price')

if User_response <100

Please enter price 56
GO right

In [2]:
User_Response=int(input("Enter the budget"))

if User_Response<100:
 print("go right")

Enter the budget60
go right

In [ ]:
# Write a program to check weather a person Go for tour or not 
#Condition For going tour 
#1. The Day Should be Saturday or Sunday 
#2. The Day temp should be between 20 C to 30 C

Enter the Day Sun
Enter today temp22
HE will go for tour

In [1]:
Day=str(input('enter'))
temp=int(input('enter'))

entersunday
enter27

In [3]:
if(Day== "satuarday" or "sunday" and  20<temp<30):
 print("HE will go for tour")

HE will go for tour

In [ ]:
#Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [6]:
for i in range(1500, 2700):
    if(i%7==0 and i%5==0):
        print(i, end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [ ]:
#Write a Python program to convert temperatures to and from celsius, fahrenheit.
#Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 45F
The temperature in Celsius is 7 degrees.

In [23]:
x=int(input("enter the temp"))

enter the temp7

In [27]:
c = lambda x: ((float(9)/5)*x + 32)

In [28]:
c(x)

44.6

In [ ]:
#Write a Python program to construct the following pattern, using a nested for loop.  (That question is Optional )
'''* 
   * * 
   * * * 
   * * * * 
   * * * * * 
   * * * * 
   * * * 
   * * 
   *'''

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [42]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [44]:


for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [45]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [53]:
# print the 2nd largest number from 3 numbers 

a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
c=int(input("enter 3rd number"))

if(a>b and   a >c):
    if(b>c):
        print("b is 2ndlargest")
        
    else:
        print("c is")
    
elif (b>a and b>c):
    if( a>c):
        print("a is 2ndlargest")
    else:
        print("c is")
        
        
elif (c>a and  c>b):
    if( a>b):
        print("a is 2ndlargest")
    else:
        print(" is")

enter 1st number8
enter 2nd number7
enter 3rd number11
a is 2ndlargest

In [7]:
num=int(input("enter the number"))
if(num<=150 and num%5==0):
 print("accepted")

enter the number140
accepted

In [8]:
l=[120,140,150,160]

In [9]:
list(filter(lambda x: x%5==0 and x<=150 , l))

[120, 140, 150]

In [4]:
# Given a number count the total number of digits in a number


n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print(count)

Enter number:7
1

In [ ]:
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

In [12]:
#Display a message “Done” after successful execution of for loop
list=[1,2,3,4,6,9]
for val in list:
    if val == 4:
    
        break
        
    print(val)

print("The end")

1
2
3
The end

In [32]:
num=101

flag = False

if num > 1:
    
    for i in range(2, num):
        if (num % i) == 0:
            
            flag = True
            
            break

if flag:
    print(num, "is not a prime number")
    
else:
    print(num, "is a prime number")

101 is a prime number

In [33]:
#Display Fibonacci series up to 10 terms


nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 8
Fibonacci sequence:
0
1
1
2
3
5
8
13

In [22]:
nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

In [34]:
# Display the cube of the number up to a given integer
number = int(input(" Please Enter any numeric Value : "))

cube = number * number * number

print("The Cube of a Given Number {0}  = {1}".format(number, cube))

 Please Enter any numeric Value : 7
The Cube of a Given Number 7  = 343